{% if pagination.pages > 1 %}
  <nav role="navigation" class="flex justify-center items-center my-8">
    {% if pagination.previous %}
      <a href="{{ pagination.previous.url }}" class=" text-center border border-gray-600 text-gray-600 hover:bg-gray-600 hover:text-white px-8 py-3 mx-1 rounded-sm font-medium min-w-[125px]">{{ pagination.previous.title }}</a>
    {% comment %}
      {% else %}
      <label class="border border-gray-300 text-gray-600 hover:bg-white-100 hover:text-gray px-8 py-3 mx-1 rounded-sm font-medium min-w-[125px] text-center"> « Previous</label>
     {% endcomment %} 
    {% endif %}
    {% for part in pagination.parts %}
      {% if part.is_link %}
        <a href="{{ part.url }}" class=" text-center border border-gray-600 text-gray-600 hover:bg-gray-600 hover:text-white px-8 py-3 mx-1 rounded-sm font-medium ">{{ part.title }}</a>
       {% else %}
        <label class="border border-gray-300 text-gray-600 hover:bg-white-100 hover:text-gray px-8 py-3 mx-1 rounded-sm font-medium text-center">
          {{ part.title }}
        </label>
      {% endif %}

    {% endfor %}
    {% if pagination.next %}
      <a href="{{ pagination.next.url }}" class=" text-center border border-gray-600 text-gray-600 hover:bg-gray-600 hover:text-white px-8 py-3 mx-1 rounded-sm font-medium min-w-[125px]">{{ pagination.next.title }} </a>
      {% comment %}
      {% else %}
  
      <label class="border border-gray-300 text-gray-600 hover:bg-white-100 hover:text-gray px-8 py-3 mx-1 rounded-sm font-medium min-w-[125px] text-center">
        Next »
      </label> 
      {% endcomment %} 
    {% endif %}
  </nav>
{% endif %}